<html lang="en" id="aura" >
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="styles/standard.css">
    <link rel="stylesheet" href="/stylesheets/home.css">

    <title>Haven</title>

    <link rel="shortcut icon" href="https://d3d2px1in9aet5.cloudfront.net/system/images/images/6036/original/Haven-Favicon.png?1624305243">
  </head>

  <body class="aura">
    
    <header class="aura-header">
      
      <div class="dropdown nav-wrap text-right">
        <a class="btn btn-sm nav-dropdown text-primary text-uppercase pb-0">
          <h3>
            <i class="fas fa-language text-secondary"></i>
            <span><i class="fal fa-angle-down"></i></span>
          </h3>
        </a>
      </div>

      <div class="d-flex align-items-center justify-content-center">
        <img src="https://d3d2px1in9aet5.cloudfront.net/system/images/images/6035/original/Haven-Logo.png?1624305213" alt="" class="logo">
      </div>

    </header>

    <!-- CONTAINER -->
    <div class="aura-container">
    <form class="mb-0">

      <!-- MAIN CONTENT -->
      <main class="aura-content">

        <div class="aura-page-headers" style="margin-bottom: 4%;">
          <div class="header-container">
            <h1 class="page-header">Get the most out of your new washer</h1>
            <h5 class="page-subheader">Enjoy exclusive savings on Haven approved accessories when you buy now.</h5>  
          </div>
        </div>

        <!-- MERCHANDISE -->
        <section class="merchandise">

          <div class="merchandise-offers">

            <div class="merchandise-offer">
              
              <div class="merchandise-desc">
                <h4 class="merchandise-title"><b>Dryer Rack</b></h4>
                <div class="merchandise-img d-flex align-items-center">
                  <img class="img-fluid" src="https://www.lg.com/us/images/appliances/features/01_Dryer-Racks.jpg" />
                </div>
                <p class="best-value mb-1">You Save: $25.00</p>
                
              </div>
							 <div class="merchandise-price mt-auto justify-content-center">
                <div class="d-flex flex-column">
									<h5 rv-if="merch.hasMsrp" class="mb-0 flex-fill small"><span class="text-muted lg-light"><strike>60.00</strike></span></h5><h5  class="mb-0 flex-fill"><span class="font-weight-bold">35.00</span></h5>
                </div>
                <input type="button" name="here" id="item01" value="ADD TO CART" class="btn btn-primary mt-4" >
                
              </div>
            </div>
            <div class="merchandise-offer">
              <div class="merchandise-desc">
                <h4 class="merchandise-title"><b>Detergent Dispenser</b></h4>
                <div class="merchandise-img d-flex align-items-center">
                  <img class="img-fluid" src="https://www.lg.com/us/images/laundry-accessories/md05856739/gallery/medium01.jpg" />
                </div>
                <p class="best-value mb-1">You Save: $20.00</p>
                
              </div>
							 <div class="merchandise-price mt-auto justify-content-center">
                <div class="d-flex flex-column">
									<h5 rv-if="merch.hasMsrp" class="mb-0 flex-fill small"><span class="text-muted lg-light"><strike>60.00</strike></span></h5><h5  class="mb-0 flex-fill"><span class="font-weight-bold">40.00</span></h5>
                </div>
                <button class="btn btn-primary mt-4">ADD TO CART</button>
              </div>
            </div>
            <div class="merchandise-offer">
              <div class="merchandise-desc">
                <h4 class="merchandise-title"><b>Washer Drain Hose Assembly</b></h4>
                <div class="merchandise-img d-flex align-items-center">
                  <img class="img-fluid" src="https://www.lg.com/us/images/appliance-accessories/5215er2002g/gallery/large_2g-0002.jpg" />
                </div>
                <p class="best-value mb-1">You Save: $5.00</p>
                
              </div>
							 <div class="merchandise-price mt-auto justify-content-center">
                <div class="d-flex flex-column">
									<h5 rv-if="merch.hasMsrp" class="mb-0 flex-fill small"><span class="text-muted lg-light"><strike>20.00</strike></span></h5><h5  class="mb-0 flex-fill"><span class="font-weight-bold">15.00</span></h5>
                </div>
                <button class="btn btn-primary mt-4">ADD TO CART</button>
              </div>
            </div>

          </div>

        </section>
        <!-- / MERCHANDISE -->

        <!-- SUBMIT OFFERS BUTTON -->
        <div class="row submit-button justify-content-center">
          <div class="col-lg-6">
            <a href="https://standard_demo.registriaqa.com/cart" class="btn btn-primary btn-lg btn-block h6">Continue</a>
          </div>
        </div>
        <!-- / SUBMIT OFFERS BUTTON -->

      </main>
      <!-- / MAIN CONTENT -->

      <!-- FOOTER -->
      <footer class="row aura-footer">
        <div class="col-lg-12 text-center">
          <p class="mb-4 text-center">
            <a id="privacyPolicy" href="#privacyPolicy" class="text-primary"> Privacy Policy</a>&nbsp; | &nbsp; <a id="termsConditions"  href="#termsConditions" class="text-primary"> Terms &amp; Conditions</a></p>
					<p class="mb-4 text-center">© 2021 Haven. All Rights Reserved.</p>
            <div
              class="footer-social-icons d-flex mt-8 mt-md-0 justify-content-center ml-0 ml-md-auto">
              <a class="social-icon h3 pl-md-2 pl-0 pr-2 pr-md-0 mb-0"
                href="https://mktg.registria.com/l/399502/2017-10-26/ckldfq" target="_blank"><i
                  class="fab fa-facebook-square" aria-hidden="true"></i> </a> <a
                class="social-icon h3 pl-md-2 pl-0 pr-2 pr-md-0 mb-0"
                href="https://mktg.registria.com/l/399502/2017-10-26/ckldgj" target="_blank"><i
                  class="fab fa-twitter-square" aria-hidden="true"></i> </a> <a
                class="social-icon h3 pl-md-2 pl-0 pr-2 pr-md-0 mb-0"
                href="https://mktg.registria.com/l/399502/2017-09-21/by41fj" target="_blank"><i
                  class="fab fa-youtube-square" aria-hidden="true"></i> </a> <a
                class="social-icon h3 pl-md-2 pl-0 pr-2 pr-md-0 mb-0"
                href="https://mktg.registria.com/l/399502/2017-10-26/ckldgb" target="_blank"><i class="fab fa-linkedin"
                  aria-hidden="true"></i> </a>
            </div>
          </div>
        </div>
      </footer>

      <div class="custom-footer-html"></div>

    </form>
    </div>
    <!-- / CONTAINER -->

    <script src="https://kit.fontawesome.com/b3555eb3a9.js" crossorigin="anonymous"></script>
  </body>
</html>
