<html lang="en" id="aura">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="wCdh4aHdEtIywI37/t1T8MfQwdhflM2/+Wm/MUVIXj9S9HtLFT0zgP9GyN3Z5e70VKgR1mZYap1UflCMIYddiw==">
    <script
			  src="https://code.jquery.com/jquery-2.2.4.min.js"
			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous"></script>
    <script src="../scripts/jquery-ui.min.js"></script>
    <script src="../scripts/jquery-ui-i18n.min.js"></script>
    <script src="../scripts/client.min.js"></script>
    <script src="../scripts/vendor.js"></script>
    <script src="../scripts/quickstart.js"></script>
    <link rel="stylesheet" href="../styles/standard.css">
    <link rel="stylesheet" href="../styles/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <title>Haven</title>
    <link rel="shortcut icon" href="../img/favicon.png">
  </head>
  <body class="aura" cz-shortcut-listen="true">
    <div class="custom-header-html"></div>
    <div class="aura-header-mast"></div>

    <!-- CONTAINER -->
    <div class="aura-container">
    <form class="mb-0">

      <!-- HEADER -->
      <header class="aura-header">
        <div class="d-flex align-items-center justify-content-center">
          <img rv-src="aura.logo" alt="Speaker Speaker" class="logo">
        </div>
      </header>
      <!-- / HEADER -->

      <!-- STEPS -->
      <div class="aura-content-container">
        <div class="content">
          <nav class="aura-steps">
            <ul class="steps">

              <!-- STEP 1 -->
              <li class="step primary">
                <svg><line x1="0" y1="0" x2="100%" y2="0" /></svg>
                <svg><line x1="0" y1="0" x2="100%" y2="0" /></svg>
              </li>
              <li class="step primary">
                <svg><circle cx="16" cy="16" r="15" stroke="#231f20" stroke-width="1" fill-opacity="0" /></svg>
                <svg><circle cx="16" cy="16" r="15" stroke="#231f20" stroke-width="1" fill-opacity="0" /></svg>
                <div><i class="fal fa-check"></i></div>
              </li>
              <!-- / STEP 1-->

              <!-- STEP 2 -->
              <li class="step primary">
                <svg><line x1="0" y1="0" x2="100%" y2="0" /></svg>
                <svg><line x1="0" y1="0" x2="100%" y2="0" /></svg>
              </li>
              <li class="step primary">
                <svg><circle cx="16" cy="16" r="15" stroke="#231f20" stroke-width="1" fill-opacity="0" /></svg>
                <svg><circle cx="16" cy="16" r="15" stroke="#231f20" stroke-width="1" fill-opacity="0" /></svg>
                <div>2</div>
              </li>
              <!-- / STEP 2-->

              <!-- STEP 3 -->
              <li class="step grey">
                <svg><line x1="0" y1="0" x2="100%" y2="0" /></svg>
                <svg><line x1="0" y1="0" x2="100%" y2="0" /></svg>
              </li>
              <li class="step grey">
                <svg><circle cx="16" cy="16" r="15" stroke="#231f20" stroke-width="1" fill-opacity="0" /></svg>
                <svg><circle cx="16" cy="16" r="15" stroke="#231f20" stroke-width="1" fill-opacity="0" /></svg>
                <div>3</div>
              </li>
              <!-- / STEP 3 -->

            </ul>
          </nav>
        </div>
      </div>
      <!-- / STEPS -->

      <!-- MAIN CONTENT -->
      <main class="aura-content">

        <!-- PAGE HEADERS s-->
        <div class="aura-page-headers aura-content-container">
          <div class="content">
            <h1 class="page-header">
              { aura.espHeader }
            </h1>
						<h5 class="page-subheader">{ aura.espSubheader}</h5>
          </div>
        </div>
        <!-- / PAGE HEADERS -->

        <!-- ESP -->
        <section class="esp">
          <div class="aura-content-container mb-4">

            <!-- / ESP - OPTIONS -->
            <div class="content mt-3 mt-lg-0 mb-4 mb-lg-0">
              <div class="content-box border-primary esp-box">
                <div class="content-box-header">
                  <h6 class="mb-1 mt-3 pl-2 content-box-header-title esp-box-header">Select your service plan:</h6>
                </div>
                <div class="content-box-body pt-0">
                  <!-- ESP RADIOS -->
                  <div class="list mb-0 align-items-center">
                    <!-- ESP OPTIONS LOOP -->
                    <div class="custom-control custom-radio mb-0" rv-each-option="aura.espOptions">
                      <input type="radio" rv-id="option.id" name="customRadio" class="custom-control-input">
                      <label class="item item-no-border custom-control-label pb-0" class="custom-control-label" rv-for="option.id">
                        <div class="item-inner">
                          <div class="input-wrapper">
                            <div class="item-label">
															<p rv-if="option.hasValue" class="fine-print item-desc text-primary text-uppercase mt-0 pb-1">{ option.value }</p>
															<p class="mb-1 font-weight-normal" rv-class-font-size-1="option.isBold" rv-class-font-weight-bold="option.isBold">{ option.title }</p>

                            </div>
                          </div>
                        </div>
                        <div class="item-end text-right">
                          <p rv-class-font-weight-bold="option.isBold" rv-class-font-size-1="option.isBold" class="mb-1 font-weight-normal">{ option.price}</p>
                          <p rv-if="option.hasMsrp" class="mb-0 text-light"><s>{ option.msrp }</s></p>
                        </div>
                      </label>
                    </div>
                    <!-- / ESP OPTIONS LOOP -->
                    <div class="custom-control custom-radio mb-0">
                      <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                      <label class="item item-no-border custom-control-label pb-0" class="custom-control-label" for="customRadio3">
                        <div class="item-inner">
                          <div class="input-wrapper">
                            <div class="item-label">
                              <h5 class="mb-0 font-weight-normal p">I purchased a plan with my product</h5>
                            </div>
                          </div>
                        </div>
                      </label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                      <label class="item item-no-border custom-control-label pb-0" class="custom-control-label" for="customRadio4">
                        <div class="item-inner">
                          <div class="input-wrapper">
                            <div class="item-label">
                              <h5 class="mb-0 font-weight-normal p">No thanks, not right now.</h5>
                            </div>
                          </div>
                        </div>
                      </label>
                    </div>
                  </div>
                  <!-- / ESP RADIOS -->
                </div>
              </div>
            </div>
            <!-- / ESP - OPTIONS -->

            <!-- ESP - BENEFITS -->
            <div class="col-12 mt-5">
              <div class="esp-benefits mx-lg-0">
                <div class="row no-gutters" > <!-- For Speaker Speaker -->
                  <!-- BENEFITS LOOP -->
                  <div class="col-6 col-lg-3 pb-4 pb-lg-0" rv-each-benefit="aura.espBenefits">
                    <div class="esp-benefits-item text-left">
                      <div class="esp-benefits-item-icon text-secondary pl-2 pl-lg-0">
                        <i rv-class="benefit.icon" class=""></i>
                      </div>
                      <div class="esp-benefits-item-text pr-3">
												<h5 class="mb-1 font-weight-bold"> { benefit.title } </h5>
												<p> { benefit.text }</p>
                      </div>
                    </div>
                  </div>
                  <!-- / BENEFITS LOOP -->
                </div>
              </div>
            </div>
            <!-- / ESP - BENEFITS -->

          </div>

        </section>
        <!-- / ESP -->

        <!-- SUBMIT OFFERS BUTTON -->
        <div class="row submit-button justify-content-center">
          <div class="col-lg-6">
            <a href="merchandise.html" class="btn btn-primary btn-lg btn-block h6">Continue</a>
          </div>
        </div>
        <!-- / SUBMIT OFFERS BUTTON -->

      </main>
      <!-- / MAIN CONTENT -->

      <!-- FOOTER -->
      <footer class="row aura-footer">
        <div class="col-lg-12 text-center">
          <p class="mb-4 text-center">
            <a id="privacyPolicy" href="#privacyPolicy" class="text-primary"> Privacy Policy</a>&nbsp; | &nbsp; <a id="termsConditions"  href="#termsConditions" class="text-primary"> Terms &amp; Conditions</a></p>
					<p class="mb-4 text-center">© 2020 { aura.copyright }. All Rights Reserved.</p>
            <div
              class="footer-social-icons d-flex mt-8 mt-md-0 justify-content-center ml-0 ml-md-auto">
              <a class="social-icon h3 pl-md-2 pl-0 pr-2 pr-md-0 mb-0"
                href="https://mktg.registria.com/l/399502/2017-10-26/ckldfq" target="_blank"><i
                  class="fab fa-facebook-square" aria-hidden="true"></i> </a> <a
                class="social-icon h3 pl-md-2 pl-0 pr-2 pr-md-0 mb-0"
                href="https://mktg.registria.com/l/399502/2017-10-26/ckldgj" target="_blank"><i
                  class="fab fa-twitter-square" aria-hidden="true"></i> </a> <a
                class="social-icon h3 pl-md-2 pl-0 pr-2 pr-md-0 mb-0"
                href="https://mktg.registria.com/l/399502/2017-09-21/by41fj" target="_blank"><i
                  class="fab fa-youtube-square" aria-hidden="true"></i> </a> <a
                class="social-icon h3 pl-md-2 pl-0 pr-2 pr-md-0 mb-0"
                href="https://mktg.registria.com/l/399502/2017-10-26/ckldgb" target="_blank"><i class="fab fa-linkedin"
                  aria-hidden="true"></i> </a>
            </div>
          </div>
        </div>
      </footer>

      <div class="custom-footer-html"></div>

    </form>
    </div>
    <!-- / CONTAINER -->

		<script src="../scripts/popper.min.js"></script>
    <script src="../scripts/bootstrap.min.js"></script>

    <script src="../scripts/rivets.js"></script>
    <script src="../scripts/demo.js"></script>
    <script>
      rivets.binders['set-class'] = function(el, value){
        el.className += ' '+ value;
      }
    </script>

    <!-- For Add to Cart -->
		<script>
    $(document).ready(function($){
      $('.merchandise-offer').click(function(){
        var checkBoxes = $("input[name=checkbox-add-to-cart]", this);
        checkBoxes.attr("checked", !checkBoxes.prop("checked"));
        $(this).toggleClass('active');
        $('.checkbox-add-to-cart-text', this).text(function(i, text){
          return text === "Add to Cart" ? "Added to Cart" : "Add to Cart";
        })
      });
      $('.checkbox-add-to-cart').click(function(){
        //var checkBoxes = ("input[name=checkbox-add-to-cart]");
        //$(this).parent.checkBoxes.attr("checked", !checkBoxes.prop("checked"));
        $(this).parents('.merchandise-offer').toggleClass('active');
        $('.checkbox-add-to-cart-text', this).text(function(i, text){
          return text === "Add to Cart" ? "Added to Cart" : "Add to Cart";
        })
      });
    });
    </script>

  </body>
</html>
